absl-py==0.7.1
asn1crypto==0.24.0
astor==0.8.0
bleach==4.1.0
colorama==0.4.1
cryptography==2.1.4
decorator==4.4.0
docopt==0.6.2
gast==0.2.2
google-pasta==0.1.7
grpcio==1.21.1
h5py==2.9.0
html5lib==0.9999999
idna==2.6
joblib==0.13.2
jsonpickle==0.9.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
munch==2.3.2
networkx==2.3
numpy==1.16.4
packaging==19.0
pandas==0.24.2
protobuf==3.8.0
py-cpuinfo==5.0.0
pycrypto==2.6.1
PyGObject==3.26.1
pymongo==3.8.0
pyparsing==2.4.0
python-apt==1.6.4
python-dateutil==2.8.0
pytz==2019.1
pyxdg==0.25
sacred==0.7.5
scikit-learn==0.21.2
scipy==1.5.4
SecretStorage==2.3.1
six==1.11.0
sklearn==0.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
toposort==1.5
webencodings==0.5.1
Werkzeug==0.15.4
wrapt==1.11.2
tqdm==4.64.0
